.resume-container {
  // * { 
  //   outline: 1px solid red;
  //   outline-offset: -1px;
  // }
  height: 100%;
  max-width: 760px;
  & > *  {
    padding: 20px 40px 0;
  }
  @include flexColumn;
  header, main, footer {
    // border: 1px solid peru;
    // height: 100%;
  }
  header {
    height: 150px;
    padding-top: 40px;
  }
  main {
    flex: 1;
    @include flexColumn;
    .section-title {
       @include fluid-type(24px, 28px);
    }
    section {
      @include flexColumn;
      height: 100%;
      margin-bottom: 20px;
      // border: 1px solid red;

      .section-body {
        height: 100%;
        @include flexRow;
        div {
          flex: 1;
        }
        .date {
          flex: 1;
        }
        .timeline {
          @include flexColumnCenter;
          justify-content: flex-start;
          position: relative;
          &-circle {
            border: 2px solid cc(txt);
            max-height: 20px;
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: cc(ghost);
            .inner {
              height: 10px;
              width: 10px;
              background-color: cc(txt);
              border-radius: 50%;
              margin: 3px auto;
            }
          }
          &-line {
            flex: 1;
            width: 2px;
            background-color: cc(txt);
            position: absolute;
            top: 20px;
            height: 100%;
          }
        }
        .detail {
          flex-basis: 50%;
          // border: 1px solid blue;
          &-title {
            @include fluid-type(18px, 22px);
          }
          &-subtitle {
            @include fluid-type(14px, 16px);
            font-weight: bold;
            text-transform: uppercase;
          }
          &-body {
            @include fluid-type(12px, 14px);
            li {
              @include flexRow;
              padding-left: 20px;
            }
            li p{
            }
            li i {
              color: cc(txt);
              margin: 0 12px 0 0;
              padding-top: 6px;
            }
          }
        }
      }
    }
    section:nth-of-type(2) {
      .timeline-line {
        height: 160%;
      }
    }
    .community section {
      .timeline-line {
        height: 160%;
      }
    }
    .skills section .section-body .detail .detail-body ul {
      @include flexRow;
      flex-wrap: wrap;
    }
    // section:nth-of-type(4) {
    //   .timeline-line {
    //     height: 160%;
    //   }
    // }
  }
  footer {
    height: 80px;
    @include flexRowCenter;
    padding: 20px 0;
    p {
      padding: 0;
      @include fluid-type(12px, 12px);
    }
  }
}